* {
    font-family: PingFangSC-Regular, sans-serif;
    padding: 0;
    margin: 0;
    
}

*,
*::before,
*::after {
  box-sizing: inherit; 
}

html {
  box-sizing: border-box;
  font-size: 100%; 
}
  /* @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; }  
}*/





p {
    font-size: 14px;
}

h2 {
    font-size: 36px;
    letter-spacing: 0.9px;
    color: #404040;
    font-weight: 400;
    margin-bottom: 60px;
}

li {
    list-style-type: none;
}


